<% provide(:title, '現在地判定') %>

<section>
  <% @user ||= current_user %>
  <% unless params[:lat] then %>
    <!-- latの値が無い場合に現在地判定を表示 -->
    <h3 id="position_msg"><i class="fa fa-refresh fa-spin"></i>　位置情報を取得中</h3>
    <form action="<%= location_path %>" name="location" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :lat %>
      <%= hidden_field_tag :lon %>
      <%= hidden_field_tag :accuracy %>
    </form>
  <% end %>
  <% if params[:lat] then %>
    <% near_stations, visited_stations, message = get_current_station(@lat,@lon,current_user) %>
    <% flash[:success] = message if message.present? %>
    <% station = near_stations[0] %>
    <% if station then %>
      <h3><%= METRO_STATION[station] %>駅にいます</h3>
      <% unless current_user %>
        <h3>この駅のスタンプを取得するにはログインが必要です</h3>
      <% end %>
    <% else %>
      <h3>東京メトロの駅にいません</h3>
    <% end %>
    <% visited_stations.each do |station| %>
    <h3><%= station %>駅のスタンプを取得しました！</h3>
    <% end %>
    <h3><a href="" onclick="reset_element(); navigator.geolocation.getCurrentPosition(success, error);" class="btn btn-primary btn-lg"><i class="fa fa-location-arrow"></i> 現在地を再取得</a></h3>
  <% end %>

  <!-- 位置情報が利用できなかった場合に表示 -->
  <div id="retry" style="display: none;">
    <h3><a href="" onclick="reset_element(); navigator.geolocation.getCurrentPosition(success, error);" class="btn btn-primary btn-lg"><i class="fa fa-location-arrow"></i> 現在地を再取得</a></h3>
  </div>
</section>

<% if Rails.env.development? and params[:lat] %>
<pre class="debug_damp">debug:
near　<%= near_stations %>
visited　<%= visited_stations %>
message <%= message %></pre>
<% end %>

<% if not params[:lat]%>
<script type="text/javascript">
// 現在地を取得する処理
// 成功時にはコールバックsuccess、エラー時にはコールバックerrorを実行
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error);
} else {
  document.getElementById("position_msg").innerHTML = "位置情報を取得できません"
}
</script>
<% end %>
