<% sn = params[:id] %>
<% rn = params[:railway] %>

<section class="container">
<h3><%= METRO_STATION[sn] %>駅</h3>

<% id = Station.find_by(name: sn).id %>
<% @user ||= current_user %>
<% if signed_in? %>
  <% if @user.visiting?(id) %>
    <h4><%= "ようこそ#{METRO_STATION[sn]}駅へ！" %></h4><br />
    <h4><%= "あなたはこの駅に訪問済みです！" %></h4><br />
    <%= raw stamp_tag(sn) %>
  <% else %>
    <% #@user.visitings.create(station_id: id) %>
    <h4><%= "あなたはこの駅にまだ訪問していません" %></h4><br />
  <% end %>
<% else %>
  <h4>サインインしていません。</h4>
<% end %>

<hr>
<h4>この駅を訪問した人</h4>
<ul class="nav nav-pills">
<% Visiting.where(station_id: id).each do |visiting| %>
  <% local_user = User.find_by(id: visiting.user_id) %>
  <li><%= link_to local_user.name, local_user %></li>
<% end %>
</ul>

</section>
