<% sn = params[:id] %>
<% rn = params[:railway] %>
<% provide(:title, METRO_STATION[sn]) %>
<% id = METRO_STATION.keys.find_index(sn)+1 %>

<section>
<h1 class="left"><%= METRO_STATION[sn] %>駅</h1>
<hr>
<% @user ||= current_user %>
<% if signed_in? %>
  <% if @user.visiting?(id) %>
    <h4><%= "ようこそ#{METRO_STATION[sn]}駅へ！" %></h4><br />
    <h4><%= "あなたはこの駅を訪問済みです！" %></h4><br />
    <%= raw stamp_tag(sn) %>
    <hr>
    <% if @station.comments.any? %>
      <p>
      <h4><%= METRO_STATION[sn] %>駅へのコメント（<%= @station.comments.count %>件）</h4>
      <ul class="users comments">
        <%= render @comments %>
      </ul>
      <%= will_paginate @comments, previous_label:"≪", next_label:"≫"%>
      </p>
      <hr>
    <% else %>
      <h4><%= METRO_STATION[sn] %>駅にはまだコメントがありません</h4>
      <hr>
    <% end %>
    <p>
    <h4><%= METRO_STATION[sn] %>駅にコメントする</h4>
    <%= form_for(@comment) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= hidden_field_tag :station, id %>
        <%= f.text_field :content, placeholder: "コメントを入力してください", maxlength: 400 %>
      </div>
      <%= f.submit "投稿", class: "btn btn-default btn-primary" %>
    <% end %>
    </p>
    <p>
    <%= link_to "この駅の訪問記録を消す", "/unvisited/#{sn}", class: "btn btn-danger", style: "float: right;" %>
    </p><br />
  <% else %>
    <% @user.visit!(id) if ENV["TMSR_AUTO_VISITING"] == "true" %>
    <h4>あなたはまだこの駅を訪問していません</h4><br />
  <% end %>
<% else %>
  <h4>サインインしていません。</h4>
<% end %>

<hr style="clear: both;">
<h4>この駅を訪問した人</h4>
<ul class="nav nav-pills">
<% Visiting.where(station_id: id).each do |visiting| %>
  <% local_user = User.find_by(id: visiting.user_id) %>
  <li><%= link_to local_user.nickname, local_user %></li>
<% end %>
</ul>

</section>
