<% provide(:title, @user.nickname) %>
<div>
  <aside>
    <section>
      <h1><%= user_avatar @user %>
      <%= @user.nickname %></h1>
    </section>
    <section class="visitings">
      <p>訪問済み駅数： <%= @user.visiting_count %></p>
      <p>獲得実績数： <%= @user.trophy_count %></p>
      獲得実績一覧：
      <ul>
        <% if @user.get_trophy %>
          <% @user.get_trophy.each do |trophy| %>
            <% tr = METRO_TROPHY[trophy] %>
            <li><img src="/images/<%= tr["image"] %>" width=75 height=75>　<a href="<%= url_for :controller => 'trophies', :action => 'show', :id => trophy %>"><%= tr["nickname"] %></a></li>
          <% end %>
        <% end %>
      </ul>
      これまでに訪問した駅一覧：
      <ul class="nav nav-pills">
      <% @user.visitings.pluck(:station_id).each do |id| %>
        <% station = METRO_STATION.keys[id-1] %>
        <% if station.present? %>
          <li><%= link_to METRO_STATION[station], station_path(id:station) %></li>
        <% end %>
      <% end %>
      </ul>
      <p>登録日： <%= @user.created_at.strftime("%Y/%m/%d") %></p>
      <% if current_user?(@user) %>
        <%= link_to "#{APP_NAME}を退会する", retire_user_path, class: "btn btn-danger", style: "float: right;" %>
      <% end %>
    </section>
  </aside>
</div>