<% provide(:title, @user.nickname) %>
<div>
  <aside class="span4">
    <section>
      <h1>
        <img src="<%= @user.image_url %>" width="48" height="48">
        <%= @user.nickname %>
      </h1>
    </section>
    <section class="visitings">
      訪問済み駅数： <%= @user.visitings.count %><br />
      訪問した駅一覧：
      <ul>
      <% @user.visitings.each do |visit| %>
        <% station = Station.find(visit.station_id).name %>
        <li><a href="<%= url_for :controller => 'stations', :action => 'show', :id => station %>"><%= METRO_STATION[station] %></a></li>
      <% end %>
      </ul>
    </section>
  </aside>
</div>