<% provide(:title, @user.nickname) %>
<div>
  <aside>
    <section>
      <h1><%= user_avatar @user %>
      <%= @user.nickname %></h1>
    </section>
    <section class="visitings">
      <p>訪問済み駅数： <%= @user.visitings.count %></p>
      訪問した駅一覧：
      <ul class="nav nav-pills">
      <% @user.visitings.each do |visit| %>
        <% station = Station.find(visit.station_id).name %>
        <li><a href="<%= url_for :controller => 'stations', :action => 'show', :id => station %>"><%= METRO_STATION[station] %></a></li>
      <% end %>
      </ul>
      <p>登録日： <%= @user.created_at.strftime("%Y/%m/%d") %></p>
    </section>
  </aside>
</div>