<% unless signed_in? %>
<center>
<div class="jumbotron">
  <h2 class="right">ようこそ！</h2>
  <div class="right">
  <a href="/auth/google_oauth2" class="btn btn-primary"><i class="fa fa-google-plus"></i> ログイン</a><br />
  <a href="/auth/github" class="btn btn-primary"><i class="fa fa-github"></i> ログイン</a><br />
  <a href="/auth/facebook" class="btn btn-primary"><i class="fa fa-facebook-square"></i> ログイン</a><br />
  <a href="/auth/twitter" class="btn btn-primary"><i class="fa fa-twitter"></i> ログイン</a></div>
  <p><h5 class="right"><%= APP_NAME %>は東京メトロ各駅への訪問を記録するスタンプラリーアプリです</h5></p>
  <h5 class="right"><a href="/terms" class="btn btn-info btn-sm">利用規約</a> <a href="/about" class="btn btn-info btn-sm">使い方</a> <a href="/contact" class="btn btn-info btn-sm">お問い合わせ</a></h5>
</div>
</center>
<h3>本アプリは東京メトロの<a href="http://tokyometro10th.jp/future/opendata/index.html">オープンデータ活用コンテスト</a>にエントリ中の作品です</h3>
<% end %>

<section>
<h2><a href="<%= location_path %>" class="btn btn-primary btn-lg"><i class="fa fa-location-arrow"></i> 現在地を判定する！</a></h2>

<hr>
<div class="ninja_onebutton">
<script type="text/javascript">
//<![CDATA[
(function(d){
if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_2e5c77428a3025c23067f4dfe61249ab)=='undefined'){
    document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/2e5c77428a3025c23067f4dfe61249ab'><\/sc"+"ript>");
}else{
    window.NINJA_CO_JP_ONETAG_BUTTON_2e5c77428a3025c23067f4dfe61249ab.ONETAGButton_Load();}
})(document);
//]]>
</script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
</div>

<% METRO_RAILWAY.each do |railway, railwayName| %>
  <% rn = railway.slice(24..-1) %>
  <div class="railways">
  <a href="<%= url_for :controller => 'railways', :action => 'show', :id => rn %>"><h3 class="railway-logo"><img alt="<%= rn %>" src="//upload.wikimedia.org/wikipedia/commons/thumb/<%= WH[rn] %>/Subway_Tokyo<%= rn %>.png/32px-Subway_Tokyo<%= rn %>.png" width="32" height="32" data-file-width="400" data-file-height="400" /> <%= railwayName.slice(5..-1) %></h3></a>
  <ul class="nav nav-pills">
    <% METRO_RAILSTA[railway].each do |stations| %>
      <% stations.each do |_, station| %>
        <li><%= link_to METRO_STATION[station], station_path(id:station) %></li>
      <% end %>
    <% end %>
  </ul>
  </div>
<% end %>

<hr>
<%= raw facebook_facepile %>

</section>
