<% unless signed_in? %>
<div class="jumbotron">
  <h2>ようこそ！</h2>
  <p><h5 class="center"><%= APP_NAME %>は東京メトロ各駅への訪問を記録するスタンプラリーアプリです</h5></p>
  <div class="center">
  <a href="/auth/github" class="btn btn-primary btn-lg"><i class="fa fa-github"></i> githubログイン</a>
  <a href="/auth/facebook" class="btn btn-primary btn-lg"><i class="fa fa-facebook-square"></i> facebookログイン</a>
  <a href="/auth/twitter" class="btn btn-primary btn-lg"><i class="fa fa-twitter"></i> twitterログイン</a></div>
</div>
<% end %>

<section>
<h2><a href="<%= location_path %>" class="btn btn-primary btn-lg"><i class="fa fa-location-arrow"></i> 現在地を判定する！</a></h2>
<% METRO_RAILWAY.each do |railway, railwayName| %>
  <% rn = railway.slice(24..-1) %>
  <div class="railways">
  <a href="<%= url_for :controller => 'railways', :action => 'show', :id => rn %>"><h3 class="railway-logo"><img alt="<%= rn %>" src="//upload.wikimedia.org/wikipedia/commons/thumb/<%= WH[rn] %>/Subway_Tokyo<%= rn %>.png/32px-Subway_Tokyo<%= rn %>.png" width="32" height="32" data-file-width="400" data-file-height="400" /> <%= railwayName.slice(5..-1) %></h3></a>
  <ul class="nav nav-pills">
    <% METRO_RAILSTA[railway].each do |stations| %>
      <% stations.each do |_, station| %>
        <li><a href="<%= url_for :controller => 'stations', :action => 'show', :id => station %>"><%= METRO_STATION[station] %></a></li>
      <% end %>
    <% end %>
  </ul>
  </div>
<% end %>
</section>
