<% rn = params[:id] %>
<section>
  <h3><img alt="<%= rn %>" src="//upload.wikimedia.org/wikipedia/commons/thumb/<%= WH[rn] %>/Subway_Tokyo<%= rn %>.png/32px-Subway_Tokyo<%= rn %>.png" width="32" height="32" data-file-width="400" data-file-height="400" /> <%= METRO_RAILWAY["odpt.Railway:TokyoMetro."+rn].slice(5..-1)  %></h3>
  <hr>
  <ul class="nav">
    <% METRO_RAILSTA["odpt.Railway:TokyoMetro."+params[:id]].each do |stations| %>
      <% stations.each do |id, station| %>
        <% current_station = Station.find_by_name(station) %>
        <li><a href="<%= url_for :controller => 'stations', :action => 'show', :id => station %>"><%= raw station_icon(rn,id) %> <%= METRO_STATION[station] %> （訪問:<%= current_station.visitings.count %> コメント:<%= current_station.comments.count %>）</a></li>
      <% end %>
    <% end %>
  </ul>
</section>
