<% rn = params[:id] %>
<section class="container">
  <h3><img alt="<%= rn %>" src="//upload.wikimedia.org/wikipedia/commons/thumb/<%= WH[rn] %>/Subway_Tokyo<%= rn %>.png/32px-Subway_Tokyo<%= rn %>.png" width="32" height="32" data-file-width="400" data-file-height="400" /> <%= METRO_RAILWAY["odpt.Railway:TokyoMetro."+rn].slice(5..-1)  %></h3>
  <hr>
  <ul class="nav">
    <% METRO_RAILSTA["odpt.Railway:TokyoMetro."+params[:id]].each do |stations| %>
      <% stations.each do |id, station| %>
        <li><a href="<%= url_for :controller => 'stations', :action => 'show', :id => station %>">(<%= id %>) <%= METRO_STATION[station] %> (<%= station %>)</a></li>
      <% end %>
    <% end %>
  </ul>
</section>
