<header class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to APP_NAME, root_path, id: "logo" %>
      <nav>
        <ul class="nav nav-pills navbar-right">
          <li><a href="<%= location_path %>"><i class="fa fa-location-arrow"></i> 現在地判定</a></li>
          <% if logged_in? %>
            <li><a href="<%= users_path %>"><i class="fa fa-users"></i> メンバ一覧</a></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= user_avatar current_user, 20 %> <%= current_user.nickname %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "マイページ", current_user %></li>
                <li class="divider"></li>
                <li><%= link_to "ログアウト", logout_path  %></li>
              </ul>
            </li>
          <% else %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                ログイン <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="auth/github"><i class="fa fa-github"></i> githubログイン</a></li>
                <li><a href="auth/facebook"><i class="fa fa-facebook-square"></i> facebookログイン</a></li>
                <li><a href="/auth/twitter"><i class="fa fa-twitter"></i> twitterログイン</a></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
